header {
  text-align: center;
  color: black;
}
.outputWindow {
  border: 2px solid black;
  height: 49%;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.buttonRow {
  display: flex;
  flex-direction: row;
}