header {
  text-align: center;
  color: black;
}
.outputWindow {
  border: 2px solid black;
  height: 49%;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.buttonRow {
  display: flex;
  flex-direction: row;
}
.buttonElement {
  width: 25%;
}
.doubleButtonElement {
  width: 50%;
}